.row{
    margin: 1px;
}
.row input{
    margin:0px;
    border-radius:15px;
    padding:29px;
    width:auto;
}
#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* behind everything */
}

